@charset "UTF-8";
/* line 5, app/assets/stylesheets/homepage.scss.erb */
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #f5f5f5;
}

/* line 12, app/assets/stylesheets/homepage.scss.erb */
#input-wrapper {
  position: relative;
}

/* line 16, app/assets/stylesheets/homepage.scss.erb */
.form-control {
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03) !important;
  height: auto;
  padding: 16px 16px 16px 60px;
}

/* line 23, app/assets/stylesheets/homepage.scss.erb */
.form-control::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 200;
  color: #d6d6d6;
}

/* line 28, app/assets/stylesheets/homepage.scss.erb */
.form-control::-moz-placeholder {
  font-style: italic;
  font-weight: 200;
  color: #d6d6d6;
}

/* line 33, app/assets/stylesheets/homepage.scss.erb */
.form-control::-moz-placeholder {
  font-style: italic;
  font-weight: 200;
  color: #d6d6d6;
}

/* line 38, app/assets/stylesheets/homepage.scss.erb */
.form-control::-ms-input-placeholder {
  font-style: italic;
  font-weight: 200;
  color: #d6d6d6;
}

/* line 45, app/assets/stylesheets/homepage.scss.erb */
#title {
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
  text-rendering: optimizeLegibility;
}

/* line 52, app/assets/stylesheets/homepage.scss.erb */
#toggle-all {
  position: absolute;
  transform: rotate(90deg);
  left: -8px;
  top: 19px;
  z-index: 1;
}

/* line 58, app/assets/stylesheets/homepage.scss.erb */
#toggle-all:before {
  content: 'â¯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

/* line 65, app/assets/stylesheets/homepage.scss.erb */
#toggle-all.active:before {
  color: #737373;
}

/* line 71, app/assets/stylesheets/homepage.scss.erb */
#todo-list-wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

/* line 73, app/assets/stylesheets/homepage.scss.erb */
#todo-list-wrapper input, #todo-list-wrapper p {
  font-size: 24px;
  font-weight: 300;
}

/* line 79, app/assets/stylesheets/homepage.scss.erb */
#todo-list {
  border-top: 1px solid #e6e6e6;
}

/* line 81, app/assets/stylesheets/homepage.scss.erb */
#todo-list > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

/* line 86, app/assets/stylesheets/homepage.scss.erb */
#todo-list > div .mark-complete-button {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

/* line 93, app/assets/stylesheets/homepage.scss.erb */
#todo-list > div p {
  flex: 1;
  padding: 15px;
  margin: 0 0 0 5px;
  line-height: 1.2;
}

/* line 101, app/assets/stylesheets/homepage.scss.erb */
#todo-list > div.completed .mark-complete-button {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

/* line 104, app/assets/stylesheets/homepage.scss.erb */
#todo-list > div.completed p {
  color: #d9d9d9;
  text-decoration: line-through;
}

/* line 110, app/assets/stylesheets/homepage.scss.erb */
#todo-list > div:hover .remove-button {
  color: #cc9a9a;
}

/* line 114, app/assets/stylesheets/homepage.scss.erb */
#todo-list > div:not(:first-child) {
  border-top: 1px solid #ededed;
}

/* line 119, app/assets/stylesheets/homepage.scss.erb */
.task-content {
  /*opacity: 0;
  -webkit-animation: fadeIn .5s linear forwards;
  -moz-animation: fadeIn .5s linear forwards;
  animation: fadeIn .5s linear forwards;*/
}

/* line 126, app/assets/stylesheets/homepage.scss.erb */
.remove-button {
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  color: transparent;
  font-size: 26px;
  font-weight: 300;
  margin-top: -8px;
  padding: 0 15px;
  cursor: default;
}

/* line 137, app/assets/stylesheets/homepage.scss.erb */
.remove-button:hover {
  color: #af5b5e !important;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* line 148, app/assets/stylesheets/homepage.scss.erb */
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  color: #777;
  font-weight: 300;
  background-color: #fff;
  padding: 10px 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

/* line 159, app/assets/stylesheets/homepage.scss.erb */
#footer ul {
  position: absolute;
  left: 15px;
  right: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 170, app/assets/stylesheets/homepage.scss.erb */
#footer ul li {
  margin: 0 5px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: default;
}

/* line 177, app/assets/stylesheets/homepage.scss.erb */
#footer ul li:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

/* line 181, app/assets/stylesheets/homepage.scss.erb */
#footer ul li.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

/* line 185, app/assets/stylesheets/homepage.scss.erb */
#footer #clear-completed {
  display: none;
  z-index: 1;
}

/* line 188, app/assets/stylesheets/homepage.scss.erb */
#footer #clear-completed:hover {
  text-decoration: underline;
  cursor: default;
}
